:root{
    ---black--darker : #1e1e1e;
    ---grey--darker: #343434;
    ---grey--darker2: #495057;
    ---grey--ligth-1: #6c757d;
}




body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(---grey--darker);
    font-family: "Space Mono", monospace;
    color: #343434;
}


main{
    width: 60%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 30px;
}

.c-InputTips{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
    height: 100vh;

}
.c-bill-input{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #1e1e1e;
    text-align: end;
    width: 95%;
    font-weight: bold;
    font-size: 20px;
    color: var(---grey--darker);
}
.c-bill-input:focus-visible{
    outline: 2px solid var(---black--darker);
    background-color: #d7d7d722;
}
.c-select__container {
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
}
.c-select__item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: var(---grey--darker);
}
.c-select__item:hover {
    background-color: var(---grey--ligth-1);
}
.c-select__item--active{
    background-color: var(---grey--ligth-1);
}
.custom{
    background-color: var(---black--darker);
}
.custom:hover{
    background-color: var(---grey--ligth-1);
}
.custom--unactive{
    display: none;
}
.custom--Active{
    color: var(---black--darker);
    text-align: center;
    height: auto;
    width: fit-content;
    display: block;
    background-color: white;
    width: 120px;
}
.custom--Active:hover{
    background-color: white;
}
.number--people{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #1e1e1e;
    text-align: end;
    width: 95%;
    font-weight: bold;
    font-size: 20px;
    color: var(---grey--darker);
}
.number--people:focus-visible{
    outline: 2px solid var(---black--darker);
    background-color: #d7d7d722;
}
.c-result{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    border-radius: 13px;
    background-color: var(---black--darker);
}

.c-tip-amount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.c-tip-amount p{
  color: var(---grey--darker2);
  font-size: 1.1em;
}
.c-tip-amount h2{
    color: var(---grey--darker2);
    font-size: 2em;
  }
.c-tip-amount h2:hover{
    color: var(---grey--ligth-1);
  }
.reset-button{
    height: 40px;
    border-radius: 5px;
    border-style: none;
    margin-top: 130px;
    background-color: var(---grey--darker2);
    color: white;
}
.reset-button:hover{
    background-color: var(---grey--ligth-1);
}
.attribution{
    position: absolute;    
    bottom: 0px;
}